@import '_variables';

.section {
    &__historia {
        height: 90vh;
        width: 100%;
        position: relative;

        @media screen and (max-width: 1024px) {
            height: 100%;
        }

        img {
            object-fit: cover;
            object-position: center top;
            width: 100%;
            height: 100%;
        }
    }

    &__nosotros {
        padding: 35px 13vw;

        @media screen and (max-width: 768px) {
            padding: 0px 5vw 30px 5vw;
        }
    }

    &__valores {
        padding: 35px 8vw;

        @media screen and (max-width: 768px) {
            padding: 35px 2vw;
        }
        h2 {
            text-align: center;
            font-size: 30px;
            color: $sec_crisostomo;
            font-family: $bold;
        }
    }

    &__oficinas {
        padding: 60px 18vw;

        @media screen and (max-width: 768px) {
            padding: 30px 5vw;
        }
    }

    &__imagen {
        width: 100%;
        height: 100%;
        margin-bottom: 70px;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.cont__info {
    position: absolute;
    top: 25%;
    left: 60px;
    width: 40%;
    text-align: center;

    @media screen and (max-width: 768px) {
        top: 25%;
        left: 20px;
    }

    @media screen and (max-width: 638px) {
        top: 20%;
        left: 10px;
        
    }

    @media screen and (max-width: 578px) {
        top: 15%;
    }

    @media screen and (max-width: 511px) {
        top: 10%;
        width: 45%;
    }

    @media screen and (max-width: 494px) {
        top: 5%;
    }

    h1 {
        font-weight: 900;
        font-size: 60px;
        margin-bottom: 15px;
        font-family: $extra_bold;

        @media screen and (max-width: 768px) {
            font-size: 30px !important;
        }

        @media screen and (max-width: 494px) {
            font-size: 25px !important;
        }
    }

    h1, h2 {
        color: $cuat_crisostomo;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 22px;

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }

        @media screen and (max-width: 494px) {
            font-size: 15px;
        }
    }

    span {
        color: $prim_crisostomo;
        font-family: $extra_bold;
    }

    p {
        text-align: justify;
        text-align-last: center;

        @media screen and (max-width: 1000px) {
            display: none;
        }
    }
}

.list {
    &__nosotros {
        margin-top: 70px;
        background-color: $cuat_crisostomo;
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__valores {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3vw;
        margin: 30px 0 20px 0;

        @media screen and (max-width: 1020px) {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 5vw;
        }

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .card__valor {
            position: relative;
            background: $cuat_crisostomo;
            text-align: center;
            display: flex;
            align-items: center;
            color: $terc_crisostomo;
            font-size: 15px;
            width: 100%;
            height: 300px;
            border-radius: 15px;
            overflow: hidden;
        
            &:hover {
                img {
                    opacity: 0.8;
                }
            }
        
            h3 {
                width: 100%;
                position: absolute;
                color: $white;
                bottom: 0;
                left: 0;
                z-index: 10;
                padding: 0 15px;
                font-size: 20px;
                background: $cuat_crisostomo;
            }
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                opacity: 0.5;
            }
        }
    }

    &__oficinas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: lighten($gris, 40);
        position: relative;

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
}

.card__oficina {
    padding: 35px 50px;
    text-align: center;

    h3, p {
        font-size: 12px;
        color: lighten($negro, 20);
    }

    svg {
        fill: #ffa217; 
    }

    h2 {
        font-size: 15px;
        font-weight: bold;
        color: #ffa217;
        margin-bottom: 8px;
    }

    p {
        margin-top: 5px;
        color: $sec_crisostomo;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
}

.mision-vision {
    padding: 50px 70px;
    text-align: center;

    @media screen and (max-width: 768px) {
        padding: 50px 20px;
    }

    &:not(:first-child) {
        border-left: 2px solid $gris;

        @media screen and (max-width: 768px) {
            border-left: none;
            border-top: 2px solid $gris;
        }
    }

    h2 {
        color: $white;
        margin-bottom: 10px;
    }

    p {
        color: darken($white, 20);
    }
}

.linea {
    height: 70%;
    width: 2px;
    background: #ffa217;
    position: absolute;
    top: 15%;
    left: 50%;

    @media screen and (max-width: 768px) {
        height: 2px;
        width: 80%;
        background: #ffa217;
        position: absolute;
        top: 50%;
        left: 10%;
    }
}