/* Fuentes */
$regular: 'Montserrat-Regular';
$extra_bold: 'Montserrat-ExtraBold';
$bold: 'Montserrat-Bold';

/* Colores General */
$white: #FFFFFF;
$negro: #000000;
$gris: #7A7A7A; 

/* Paleta de Colores - Proyecto Crisostomo */
$prim_crisostomo: #0782c3;
$sec_crisostomo: #0181BA;
$terc_crisostomo: #09A1CC;
$cuat_crisostomo: #191930;

/* Paleta de Colores - Estancia del Prado */
$prim_prado: #E88917;
$sec_prado: #F1BC0A;
$terc_prado: #7B3F14;

/* Paleta de Colores - Costa Azul */
$prim_costa: #406960;
$sec_costa: #53BCBB;
$terc_costa: #20B7C8;
$cuat_costa: #1398A4;

/* Paleta de Colores - Condominio Arboleda */
$prim_arboleda: #38492E;
$sec_arboleda: #BDA938;
$terc_arboleda: #010101;