@import '_variables';

.section__estructura {
    padding: 60px 5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.list__estructura {
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;

    @media screen and (max-width: 820px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width:620px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 408px) {
        gap: 25px 15px;
    }
}

.lotes {
    &__desde, &__hasta, &__totaletapas, &__area, &__total, &__etapa {
        border-radius: 10px;
        border: 1px solid $gris;
        height: 100%;
        position: relative;
        display: inline-block;
        
        h3 {
            background-color: $cuat_crisostomo;
            border-radius: 10px;
            padding: 8px 20px;
            color: $white;
            display: inline-block;
            position: absolute;
            top: -15px;
            left: -15px;

            @media screen and (max-width: 768px) {
                font-size: 20px;
                padding: 5px 10px;
            }

            @media screen and (max-width: 444px) {
                font-size: 13px;
                padding: 5px 8px;
            }
        }

        h2 {
            font-family: $extra_bold;
            font-size: 60px;
            text-align: center;
            margin-top: 20px;

            @media screen and (max-width: 768px) {
                font-size: 30px;
                margin-top: 15px;
            }

            @media screen and (max-width: 444px) {
                font-size: 25px;
            }
        }

        span {
            font-size: 25px;

            @media screen and (max-width: 768px) {
                font-size: 20px;
            }

            @media screen and (max-width: 444px) {
                font-size: 15px;
            }
        }
    }

    &__desde, &__hasta, &__area, &__total {
        padding: 0 30px;
    }

    &__totaletapas {
        padding: 0 40px;
    }

    &__hasta, &__hasta {
        @media screen and (max-width: 620px) {
            &:last-child {
                grid-column: span 2; /* Esto hará que el último elemento ocupe dos columnas completas */
                text-align: center; /* Para centrar el contenido horizontalmente */
            }
        }
    }

    &__etapa {
        padding: 0 60px;
    }
}

.info {
    &__etapas {
        margin-top: 30px;
    }
    &__titulo {
        margin-bottom: 25px;
        font-size: 25px;
        font-family: $extra_bold;
        text-align: center;
        font-weight: bold;
        color: $cuat_crisostomo;
    }
}